[Unit]
Description = CloudWatch Load Average monitor daemon
After = NetworkManager.service
Requires = NetworkManager.service

[Service]
ExecStart = /usr/local/bin/cw_load_average
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
